/* Define the main Navigation block */
.myNav {
    display: block;
    height: 100px;
    background-color: #979797;
}

.boxed {
  border: 2px solid white;
  font-size: 24px;
}
/* Remove bullets, margin and padding */
.myNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.myNav li {
    float: left;
    /* Or you can use display: inline; */
}
/* Define the block styling for the links */
.myNav li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    color: white;
    margin-top: 20px;
    margin-left: 5px;
    text-decoration: none;
    font-family: avenier;
}

.myNav li img {
    display: inline-block;
    height: 100px;
    color: white;
}
/* This is optional, however if you want to display the active link differently apply a background to it */
.myNav li a.active {
    background-color: #3786E1;
}
